<!DOCTYPE html PUBLIC "-//W3C//DTD html 4.0 Transitional//EN">
	<html>
		<head>
			<title>%SERVER_HOST%</title>
			<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		</head>
		<body text=#000000 vLink=#000066 link=#000066 bgColor=#ffffff leftMargin=0 topMargin=0>
		<TABLE height="100%" cellSpacing=0 cellPadding=0 width=600 border=0>
			<TBODY>
				<TR>
					<TD vAlign=top align=middle width=600>
						<TABLE cellSpacing=0 cellPadding=6 width=580 bgColor=#ffffff>
							<TBODY>
								<TR>
									<TD>
										<BR>
            							<TABLE cellSpacing=0 cellPadding=0 width=675 align=center border=0>
            								<TBODY>
												<TR>
													<TD>
														<TABLE cellSpacing=0 cellPadding=0 width=673 align=center bgColor=#ffffff border=0>
															<TBODY>
																<TR>
																	<TD><TABLE cellSpacing=0 cellPadding=0 width=667 align=center border=0>
																  <TBODY>
																				<TR>
																					<TD>&nbsp;</TD>
																				</TR>
																			</TBODY>
																		</TABLE>
																		<TABLE cellSpacing=2 cellPadding=2 width=667 align=center bgColor=#ffffff border=0>
																		  <TBODY>
																				<TR>
																					<TD>
																						<DIV align=center>
																							<TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
																								<TBODY>
																									<TR bgColor=#f1f1f1> 
																										<TD colspan="2" align="center">
																											<FONT face=Verdana color=#3059ab size=1><b>Esta é uma mensagem automática lhe informando que seu contato realizado pelo site %SERVER_HOST% foi enviado com sucesso e em breve será respondido!<br/><br/>Se não foi você quem efetuou o contato no site, por favor, desconsidere esta mensagem.</b></FONT>
																										</TD>
																									</TR>
																									<TR>
																										<TD colSpan=2>
																											<FONT face=Verdana color=#3059ab size=1>&nbsp;</FONT>
																										</TD>
																									</TR>
																									<TR>
																										<TD bgColor=#9699b2 colSpan=2>
																											<FONT face=verdana color=#ffffff size=1><B>Dados Pessoais Enviados</B></FONT>
																										</TD>
																									</TR>
																									<TR bgColor=#f1f1f1>		
																										<TD>
																											<FONT face=Verdana color=#3059ab size=1>Nome:</FONT>
																										</TD>
																										<TD>
																											<FONT face=Verdana color=#3059ab size=1>%contatoNome%</FONT>
																										</TD>
																									</TR>
																									<TR bgColor=#d9d8e2>
																										<TD bgcolor="#d9d8e2">
																											<FONT face=Verdana color=#3059ab size=1>E-Mail:</FONT>
																										</TD>
																										<TD>
																											<FONT face=Verdana color=#3059ab size=1>%contatoEmail%</FONT>
																										</TD>
																									</TR>
																									<TR bgColor=#f1f1f1>
																									  <TD bgcolor="#d9d8e2"><FONT face=Verdana color=#3059ab size=1>Telefone:</FONT></TD>
																									  <TD bgcolor="#d9d8e2"><FONT face=Verdana color=#3059ab size=1>%contatoTelefone%</FONT></TD>
																								  </TR>
																									<TR bgColor=#f1f1f1>
																									  <TD bgcolor="#d9d8e2"><FONT face=Verdana color=#3059ab size=1>Cidade:</FONT></TD>
																									  <TD bgcolor="#d9d8e2"><FONT face=Verdana color=#3059ab size=1>%contatoCidade%</FONT></TD>
																								  </TR>
																									<TR bgColor=#f1f1f1>
																									  <TD bgcolor="#d9d8e2"><FONT face=Verdana color=#3059ab size=1>Assunto:</FONT></TD>
																									  <TD bgcolor="#d9d8e2"><FONT face=Verdana color=#3059ab size=1>%contatoAssunto%</FONT></TD>
																								  </TR>
																									<TR>
																										<TD colSpan=2>
																											<FONT face=Verdana color=#3059ab size=1>&nbsp;</FONT>
																										</TD>
																									</TR>
																									<TR>
																										<TD bgColor=#9699b2 colSpan=2>
																											<FONT face=verdana color=#ffffff size=1><B> Mensagem Enviada</B></FONT>
																										</TD>
																									</TR>
																									<TR bgColor=#f1f1f1> 
																										<TD colspan="2" align="justify">
																											<FONT face=Verdana color=#3059ab size=1>%contatoCorpo%</FONT>
																										</TD>
																									</TR>
																									<TR bgColor=#f1f1f1>
																									  <TD>&nbsp;</TD>
																									  <TD>&nbsp;</TD>
																								  </TR>
																									<TR bgColor=#f1f1f1>
																									  <TD><FONT face=Verdana color=#3059ab size=1>Realizado em:</FONT></TD>
																									  <TD><FONT face=Verdana color=#3059ab size=1>%contatoData% às %contatoHora%</FONT></TD>
																								  </TR>
																									<TR bgColor=#f1f1f1>
																									  <TD colspan="2" align="justify">&nbsp;</TD>
																								  </TR>
																								</TBODY>
																							</TABLE>
																						</DIV>
																					</TD>
																				</TR>
																			</TBODY>
																		</TABLE>
																	</TD>
																</TR>
															</TBODY>
														</TABLE>
													</TD>
												</TR>
											</TBODY>
										</TABLE>
										<BR>
										<BR>
									</TD>
								</TR>
								<TR>
									<TD></TD>
								</TR>
							</TBODY>
						</TABLE>
					</TD>
				</TR>
			</TBODY>
		</TABLE>
	</BODY>
</html>